{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center" style="flex-direction: column;">
            <h1>{{ equipe.getNomEquipe() }}</h1>
            <div class="image_equipe_detail d-flex justify-content-center" style="max-width: 100%;">
                <img src="{{ vich_uploader_asset(equipe, 'imageFile') }}" alt="" style="width: 100%;height: auto;">
            </div>
        </div>
        <div class="col-md-8 d-flex align-items-center" style="padding: 15px;">
            <div class="row d-flex align-items-center justify-content-center">
                {% for personne in equipe.getPersonnes() %}
                    <div class="col-md-3">
                        <div class="image_personne_detail_equipe d-flex align-items-center">
                            <a href="{{ path('fiche_joueur',{'id':personne.getId()}) }}">
                                <img src="{{ vich_uploader_asset(personne, 'imageFile') }}" alt=""
                                     style="width: 100%;height: auto;">
                            </a>
                        </div>

                        <div class="nom-personne-equipe-detail">
                            {{ personne.getNom() }}
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    {% endblock %}

    {% block title %}

    {% endblock %}

