{% extends 'base.html.twig' %}

{% block title 'Impro champion ligue' %}
{% block body %}
    <h1>Prochains matches : Impro champion ligue</h1>
    {% for game in games %}
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2>{{ game.getIdEquipe1() }}</h2>
                    <img style="max-width:100%;max-height: 300px;" src="{{game.getIdEquipe1().getImage()}}" alt="">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <h2>{{ game.getIdEquipe2() }}</h2>
                    <img style="max-width:100%;max-height: 300px;" src="{{game.getIdEquipe2().getImage()}}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <p>{{ game.getDateMatch()|date("d/m/Y")  }}</p><br />
                    <p>{{ game.getLieuxMatch() }}</p>
                </div>
            </div>
        </div>

    {% endfor %}

{%  endblock %}
